/* Pacifico */

/* latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacificoLatin.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacificoLatinExt.woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Josefin */

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefinSansLatin.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefinSansLatinExt.woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Global styles */
html {
    background-image: url('/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: #fdebf3;
    scroll-behavior: smooth;
}

body {
    max-width: 1850px;
    margin: 0 auto;
    font-size: 1.5rem;
}

/* Headings */
h1, h2, h3 {
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    text-align: center;
}

h3 {
    font-size: 1.1em;
    text-align: center;
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    hyphens: none;
    line-height: 1.5;
}

.remark  {
    line-height: 1.5;
    border: 2px solid #78c2ad;
    border-radius: 12px;
    padding: 15px 15px 15px 15px;
}

ol  {
    line-height: 1.5;
    border: 2px solid #78c2ad;
    border-radius: 12px;
}

li::marker  {
    font-family: 'Josefin Sans', sans-serif;
}

.projects {
    margin-top: 50px;
}

.about {
    margin: 100px 16% 0 16%;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

video
{
    outline: 0;
}

.col-video
{
    border-radius: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* TopImage */
.topimg {
    margin: 30px 0 0 0;
    text-align: center;
    flex: 50%;
}


.bio{
    margin: 20px 20px 0 20px;
    text-align: left;
    border: 2px solid #78c2ad;
    border-radius: 12px;
    padding: 10px 20px 0 20px;
    justify-self: center;
    max-width: 700px;
}

.bio-list{
    margin: 20px 0 20px 0;
    list-style-position: outside;
    font-family: 'Josefin Sans', sans-serif;
    hyphens: none;
    left: -10px;
    line-height: 1.5;
}

.human-facts{
    margin: 20px 10px 0 10px;
    text-align: center;
    border: 2px solid #78c2ad;
    border-radius: 12px;
    padding: 10px 24px 0 24px;
    justify-self: center;
    max-width: 700px;
}

.bannerimg{
    overflow: hidden;
    max-width:100%;
    max-height:250px;
    border-radius: 16px;
    text-align: center;
}
.bannerimg img{
    width: 100%;
    border-radius: 16px;
    margin: -10% 0 0 0;
}

.bannervideo{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    text-align: center;
}

.bannervideo video{
    width: 100%;
    margin: -16% 0 -16% 0;
}

.human-list  {
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    hyphens: none;
    margin: 0 10px 0 10px;
}

.game-feature-list{
    margin: 10px 15% 10px 15%;
    list-style-position: outside;
    font-family: 'Josefin Sans', sans-serif;
    hyphens: none;
    position: relative;
    left: -10px;
    line-height: 1.5;
}

/* Navigation Bar */

.title-link, .nav-links {
    margin-top: 0.8rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
}

.title-link a, .nav-links a {
    color: #fdebf3;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.nav-links a {
    margin: 0 10px;
}

/* Card listing */
.link-card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 50px;
    padding: 0;
    margin: 10px;
}

.link-minicard-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.5rem;
    row-gap: 0;
    padding: 0;
    margin: 10px;
}

.intro {
    display: flex;
    margin-top: 10px;
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .title-link a {
    color: #1e1e2e;
}

.light .nav-links a {
    color: #1e1e2e;
}

.light .link-card > a {
    color: #1e1e2e; 
}

small.subtitle {
    color: #fdebf3;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
}

small.tag {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.4em 0.2em 0.6em;
    margin: 0 -4px 0 -4px;
}

small.big-tag {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-size: 27px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.4em 0.2em 0.6em;
    margin: 0 5px 0 5px;
}

html::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #433f4f;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

.cool-things
{
    display: flex;
    width: 100%;
}

.column {
    width: 50%;
    display: table-cell;
    flex: 1;
    padding: 1% 1% 1% 1%;
}

.social {
    text-align: center;
    margin: 40px 0 0px 0;
}

.itchio-card
{
    margin: 0 10px 0 10px;
}

/* Button */
button {
    border-radius: 8px;
    font: 600 1.4rem 'Josefin Sans', sans-serif;
    padding: 10px 18px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    background-color: #fdebf3;
    border: 2px solid #fdebf3;
    color: #000000;
}

.button {
    text-align: center;
}

.resume-button {
    padding: 14px 30px;
    text-align: center;
    font-size: 1.1em;
}

button:hover {
    background-color: #375a7f;
    color: #fdebf3;
    border-color: #375a7f;
    cursor: pointer;
}

.playstore-button {
    padding: 6px 16px 8px 18px;
    background-color: #338460;
    border: 2px solid #338460;
    color: #ffffff;
}

.appstore-button {
    padding: 6px 16px 8px 18px;
    background-color: #efefef;
    border: 2px solid #efefef;
    color: #000000;
}

.eshop-button {
    padding: 6px 16px 8px 18px;
    background-color: #dd0909;
    border: 2px solid #dd0909;
    color: #ffffff;
}

.itchio-button {
    padding: 6px 18px 10px 18px;
    background-color: #f6860e;
    border: 2px solid #f6860e;
    color: #ffffff;
}

.metaquest-button {
    padding: 6px 18px 10px 18px;
    background-color: #68b8e1;
    border: 2px solid #68b8e1;
    color: #ffffff;
}

/* Social images */
.social img {
    margin: 8px 8px;
}

/* Skill images */
.link-images img {
    margin: 16px 4px;
}

.round-borders
{
    border-radius: 50%;
    margin-top: 40px;
}

.check-itchio
{
    line-height: 1.5;
    border: 2px solid #78c2ad;
    border-radius: 12px;
    padding: 15px 15px 15px 15px;
    margin: 0 22% 0 22%;
    font-size: 22px
}


/* Media Query */
@media only screen and (max-width: 800px) {
    body {
        margin: 15px 15px 15px 15px;
    }
    
    .link-images img {
        height: 30px;
        width: 30px;
        margin: 16px 1px;
    }

    .nav-links a{
        margin: 0 8px;
    }

    .cool-things {
        display: block;
    }

    .cool-things:after {
        content: "";
        display: block;
        clear: both;
        margin-bottom: 10px;
    }

    .column {
        display: block;
        width: 100%;
    }

    .col-video
    {
        position: initial;
        top: 0;
        transform: translateY(0%);
    }
    
    .intro
    {
        display: inline;
    }

    .check-itchio
    {
        line-height: 1.5;
        border: 2px solid #78c2ad;
        border-radius: 12px;
        padding: 15px 15px 15px 15px;
        margin: 0 8% 0 8%;
        font-size: 22px
    }

    .bannervideo video{
        width: 100%;
        margin: 0 0 0 0;
    }

    .about {
        margin: 100px 4% 0 4%;
    }

    .game-feature-list{
        margin: 20px 0 20px 0;
    }
}