/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Global styles */
html {
    background-color: #1e1e2e;
    color: #fdebf3;
    scroll-behavior: smooth;
}

body {
    /*max-width: 540px*/;
    max-width: 800px;
    margin: 0 auto;
    /*text-align: justify;*/
}

/* Headings */
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.8em;
    margin: 0;
}

h2 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0;
}

b {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    hyphens: none;
    line-height: 1.5;
    text-indent: 1em;
}


/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

/* TopImage */
.topimg {
    margin: 20px 0 0 0;
    text-align: center;
}

.bannerimg{
    overflow: hidden;
    max-width:100%;
    max-height:250px;
    border-radius: 16px;
    text-align: center;
}
.bannerimg img{
    width: 100%;
    border-radius: 16px;
    margin: -10% 0 0 0;
}

/* Navigation Bar */
.nav-bar {
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
}

.title-link, .nav-links {
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
}

.title-link a, .nav-links a {
    color: #fdebf3;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 10px;
}

/* Card listing */
.link-card-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 3rem;
    padding: 0;
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .title-link a {
    color: #1e1e2e;
}

.light .nav-links a {
    color: #1e1e2e;
}

.light .link-card > a {
    color: #1e1e2e; 
}

small.subtitle {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
}

small.tag {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
    margin: 0 3px 0 3px;
    text-align: center;
}


button:hover {
    background-color: #78c2ad;
    color: #fdebf3;
    cursor: pointer;
}

.button {
    text-align: center;
}

html::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #433f4f;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

.cool-things
{
    display: table;
}

/*.cool-things:after {
    content: "";
    clear: both;
    margin-bottom: 10px;
}*/

.column {
    width: 50%;
    height: inherit;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links a {
        margin: 0 8px;
    }

    .cool-things:after {
        content: "";
        display: block;
        clear: both;
        margin-bottom: 10px;
    }

    .column {
        width: 100%;
    }
}
