/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Global styles */
html {
    background-color: #1e1e2e;
    color: #fdebf3;
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* Headings */
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.8em;
    margin: 0;
    line-height: 130%;
}

h2 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
}

b {
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    hyphens: none;
    line-height: 1.5;
}

ol  {
    line-height: 1.5;
    border: 2px solid #78c2ad;
    border-radius: 12px;
}

li  {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    hyphens: none;
    margin: 20px 5px 20px 5px;
}

li::marker  {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

video
{
    outline: 0;
}

.col-video
{
    border-radius: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* TopImage */
.topimg {
    margin: 20px 0 0 0;
    text-align: center;
}

.bannerimg{
    overflow: hidden;
    max-width:100%;
    max-height:250px;
    border-radius: 16px;
    text-align: center;
}
.bannerimg img{
    width: 100%;
    border-radius: 16px;
    margin: -10% 0 0 0;
}

.bannervideo{
    overflow: hidden;
    max-width:100%;
    max-height:100%;
    border-radius: 16px;
    text-align: center;
}
.bannervideo video{
    width: 100%;
    border-radius: 16px;
    margin: -10% 0 -10% 0;
}

/* Navigation Bar */

.title-link, .nav-links {
    margin-top: 0.8rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
}

.title-link a, .nav-links a {
    color: #fdebf3;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.nav-links a {
    margin: 0 10px;
}

/* Card listing */
.link-card-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 3rem;
    padding: 0;
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .title-link a {
    color: #1e1e2e;
}

.light .nav-links a {
    color: #1e1e2e;
}

.light .link-card > a {
    color: #1e1e2e; 
}

small.subtitle {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
}

small.tag {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.4em 0.2em 0.6em;
    margin: 0 3px 0 3px;
}

small.big-tag {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.4em 0.2em 0.6em;
    margin: 0 5px 0 5px;
}


button:hover {
    background-color: #78c2ad;
    color: #fdebf3;
    cursor: pointer;
}

.button {
    text-align: center;
}

html::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #433f4f;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

.cool-things
{
    display: flex;
    width: 100%;
}

.column {
    width: 50%;
    display: table-cell;
    flex: 1;
    padding: 1% 1% 1% 1%;
}

.social {
    text-align: center;
    margin: 5px;
    padding-right: 20px;
}

.cool-things-h2 {
    text-align: center;
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.5em;
    margin-bottom: 0;
}

.cool-things-h3 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0;
    line-height: 120%;
}

/* Button */
button {
    background: rgba(0,0,0,0);
    border: 2px solid #78c2ad;
    border-radius: 8px;
    color: #78c2ad;
    font: 600 16px 'Josefin Sans', sans-serif;
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
}

/* Social images */
.social img {
    margin: 6px 6px;
}

/* Skill images */
.link-images img {
    margin: 16px 4px;
}

.round-borders
{
    border-radius: 50%;
}

.bio{
    margin: 0 10% 0 10%;
}

/* Media Query */
@media only screen and (max-width: 800px) {
    body {
        margin: 15px 15px 15px 15px;
    }
    
    .link-images img {
        height: 30px;
        width: 30px;
        margin: 16px 1px;
    }

    .nav-links a{
        margin: 0 8px;
    }

    .cool-things {
        display: block;
    }

    .cool-things:after {
        content: "";
        display: block;
        clear: both;
        margin-bottom: 10px;
    }

    .column {
        display: block;
        width: 100%;
    }

    .col-video
    {
        position: initial;
        top: 0;
        transform: translateY(0%);
    }

    .bio{
        margin: 0 0 0 0;
    }
}
