---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="bodycombat">
    <main slot="main">

        <h1>Les Mills Bodycombat</h1>

        <div style="margin: -20px 0 30px 5px; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57); white-space: nowrap; margin: 0">Fitness </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(255,79,247,0.57); white-space: nowrap; margin: 0">VR </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(255,79,247,0.57); white-space: nowrap; margin: 0">Nintendo Switch </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(111,239,88,0.57); white-space: nowrap; margin: 0">Live Service </small>
            &nbsp;
        </div>

        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/bodycombat/videos/bodycombat_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <ol style="margin: 30px 2% 30px 2%; padding-right: 10px; font-size: 1.1em">
            <p>
                Les Mills Bodycombat is a Virtual Reality live service fitness game based on the <nobr>world-renowned</nobr> Bodycombat training program.
            </p>
        </ol>
        <ul>
            <li class="game-feature-list" style="list-style-type: '🖥️ ';">
                I worked mainly as part of the team delivering new content, developing the new features and reworking outdated ones.
            </li>
            <li class="game-feature-list" style="list-style-type: '🥊 ';">
                Developed in partnership with Les Mills, the original creators of the Bodycombat program.
            </li>
            <li class="game-feature-list" style="list-style-type: '⬇️ ';">
                The game enjoys regular content updates with new stages, features and paid DLC expansions.
            </li>
            <li class="game-feature-list" style="list-style-type: '📅 ';">
                We worked in tandem with the other departments to meet the scheduled content release deadlines.
            </li>

        </ul>

        <hr style="border: 1.5px solid #78c2ad; margin-top: 30px">

        <div class="button" style="margin: 30px 0 10px 0; line-height: 350%">
            <a href="https://www.meta.com/en-gb/experiences/les-mills-bodycombat/4015163475201433/" target="_blank" rel="noopener noreferrer"
               style="margin: 10px;">
                <button class="metaquest-button"><nobr><img width="auto" height="28" alt="metaquest_logo" style="outline: 0; transform: translateY(17%);" src="/stores/metaquest.png"/>&nbsp Meta Quest Store</nobr></button>
            </a>
        </div>
        
    </main>
</Modal>