---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="brokenechoes">
    <main slot="main">
        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/brokenechoes/videos/brokenechoes_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <h1>Broken Echoes</h1>

        <div style="margin: 10px 0 20px 0; line-height: 175%; max-width: 300px">
            <small class="tag" style="background-color: rgba(255,96,66,0.57)">Action-adventure </small>
            <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
            <small class="tag" style="background-color: rgba(111,239,88,0.57)">FinalProject </small>
        </div>

        <p>
            <b>Broken Echoes</b> was my Master's final project. I developed it alongside 5 other classmates for almost a full year.
        </p>
        <p>
            As we were given the chance of creating a game during a long period of time our goal was to be as <b>ambitious as possible</b>. The game has action combat, different classes and attacks, exploration and mocapped cinematics.
        </p>
        <p>
            My role in the project was to work as an <b>audio programmer</b>, <b>music composer</b>; and backup <b>programmer</b> whenever needed.
        </p>

        <h2 class="cool-things-h2">Cool things I did</h2>

        <div>
            <h3 class="cool-things-h3">Soundscape</h3>

            <div class="cool-things">
                <div class="column">
                    <p>
                        I took advantage of FMOD Studio's tools to try and make the game's ambient sound as immersive as possible.
                    </p>
                    <p>
                        Each zone has a unique dynamic ambience composed of different sounds. The beach's soundscape, for example, is formed by the sound of the waves, seagull calls and the wind.
                    </p>
                    <p>
                        Sounds that take place in a specific 3D location, like the waves crashing, use FMOD's 3D audio capabilities to vary in intensity depending on Lea's position and distance.
                    </p>
                    <p>
                        Some sound effects, like Lea's footsteps, also vary depending on the terrain.
                    </p>
                </div>
                <div class="column">
                    <video class="col-video" width="100%" height="auto" controls autoplay muted loop preload="none">
                        <source src="/brokenechoes/videos/brokenechoes_soundscape.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div>
            <h3 class="cool-things-h3">Music composition</h3>

            <div class="cool-things">
                <div class="column">
                    <p>
                        I was the sole composer of Broken Echoes' soundtrack, formed by 9 songs + variations.
                    </p>
                    <p>
                        I leaned on the use of leitmotifs and character specific instruments to enrich the game's songs. Lea, her mother, and the final boss all have their own motifs.
                    </p>
                    <p>
                        Most of the songs use classical instruments, to depict the natural world; and the combat theme and the final boss' theme use synths and electric guitars, representing the spacetime corruptions.
                    </p>
                    <p>
                        Here are 3 song snippets as an example.
                    </p>
                </div>
                <div class="column" style="text-align: center">
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">Rise and Fall (Bridge Climbing)</h3>
                    <audio controls>
                        <source src="/brokenechoes/audio/be_demo1.wav" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">The Broken Continuum (Battle Theme)</h3>
                    <audio controls>
                        <source src="/brokenechoes/audio/be_demo2.wav" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">Master of Sapience 2 (Final Boss Phase 2)</h3>
                    <audio controls>
                        <source src="/brokenechoes/audio/be_demo3.wav" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        <div>
            <h3 class="cool-things-h3">Sound effects</h3>

            <div class="cool-things">
                <div class="column">
                    <p>
                        
                    </p>
                </div>
                <div class="column">
                    <video class="col-video" width="100%" height="auto" controls autoplay muted loop preload="none">
                        <source src="/brokenechoes/videos/.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </main>
</Modal>