---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="crabmelo">
    <main slot="main">
        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/crabmelo/videos/crabmelo_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <h1>Crabmelo's Smoothie Stand</h1>

        <div style="margin: 10px 0 20px 0; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57)">Puzzle </small>
            <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
            <small class="tag" style="background-color: rgba(111,239,88,0.57)">InDevelopment </small>
        </div>

        <p>
            Crabmelo's Smoothie Stand is my own personal project, and currently in development.
        </p>
        <p>
            The story follows Crabmelo as he prepares delicious smoothies to his stand's customers. But in order to do that, he first needs to get the freshest fruits from the beach.
        </p>
        <p>
            This is a narrative puzzle game, with fruit-rolling gameplay. Crabmelo has a limited number of movements to get the fruit to the exit before the tide gets too high and swallows him whole. In the meantime, he will be chatting with his troubled customers on the phone, cheering them on.
        </p>
        <p>
            Apart from the 2D and 3D art, I am developing everything all by myself. I wanted to make a full game with my own vision, and also use it as an excuse to learn new things; such as how to generate and solve a puzzle level, how to create complex sand shaders or how 2.5D sprite lightning works.
        </p>
        <p>
            <i>Notice: This game is in development. Assets shown in footage may not be final.</i>
        </p>

        <h2 class="cool-things-h2">Cool things I did</h2>

        <div>
            <h3 class="cool-things-h3">Puzzle level generation in Editor</h3>

            <div class="cool-things">
                <div class="column">
                    <p>
                        I have created a fully fledged puzzle grid editor to facilitate designing and testing levels.
                    </p>
                    <p>
                        You can change the grid size, add and move elements. All in the same place, and with a visual interface.
                    </p>
                    <p>
                        I also developed a puzzle generator using a depth-first search algorithm. The game will feature tailor-made levels for each customer, but this tool greatly enhances puzzle designing and testing.
                    </p>
                    <p>
                        You may generate a puzzle from scratch, or try to solve an already existing one. The algorithm will give you the final puzzle and the steps needed to get to the exit.
                    </p>
                </div>
                <div class="column">
                    <video class="col-video" width="100%" height="auto" controls autoplay muted loop preload="none">
                        <source src="/crabmelo/videos/crabmelo_editor.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        
    </main>
</Modal>