---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="danievan">
    <main slot="main">
        
        <h1>Dani & Evan: Dinosaur Books</h1>

        <div style="margin: -20px 0 30px 5px; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57); white-space: nowrap; margin: 0">Visual Novel </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(255,79,247,0.57); white-space: nowrap; margin: 0">Mobile </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(255,79,247,0.57); white-space: nowrap; margin: 0">Nintendo Switch </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(111,239,88,0.57); white-space: nowrap; margin: 0">Released </small>
            &nbsp;
        </div>

        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/danievan/videos/danievan_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <ol style="margin: 30px 2% 30px 2%; padding-right: 10px; font-size: 1em">
            <p>
                Dani & Evan: Dinosaur Books is an interactive visual novel based on the book "The Adventures of Dani and Evan".
            </p>
        </ol>
        <ul>
            <li class="game-feature-list" style="list-style-type: '🖥️ ';">
                I worked as the programmer and designer of the game, but also did animations, writing and sound design.
            </li>
            <li class="game-feature-list" style="list-style-type: '🌍 ';">
                The game was developed in collaboration with the book publisher "Grupo Planeta".
            </li>
            <li class="game-feature-list" style="list-style-type: '📚 ';">
                It adapts the book's story, and includes environment exploration, minigames and collectables.
            </li>
            <li class="game-feature-list" style="list-style-type: '📚 ';">
                Some of the challenges during development were the Japanese localization, the creation of a modular chapter system and the port to Nintendo Switch.
            </li>
            
        </ul>

        <hr style="border: 1.5px solid #78c2ad; margin-top: 30px">
        
        <div class="button" style="margin: 30px 0 10px 0; line-height: 350%">
            <a href="https://play.google.com/store/apps/details?id=com.cookingandpublishing.daniandevan&hl=en" target="_blank" rel="noopener noreferrer"
               style="margin: 10px;">
                <button class="playstore-button"><nobr><img width="auto" height="28" alt="playstore_logo" style="outline: 0; transform: translateY(17%);" src="/stores/playstore.png"/>&nbsp Play Store</nobr></button>
            </a>
            <a href="https://apps.apple.com/us/app/dani-and-evan-dinosaur-books/id6449602220" target="_blank" rel="noopener noreferrer"
               style="margin: 10px;">
                <button class="appstore-button"><nobr><img width="auto" height="28" alt="appstore_logo" style="outline: 0; transform: translateY(17%);" src="/stores/appstore.png"/>&nbsp App Store</nobr></button>
            </a>
            <a href="https://www.nintendo.com/en-gb/Games/Nintendo-Switch-download-software/Dani-and-Evan-Dinosaur-books-2498006.html" target="_blank" rel="noopener noreferrer"
               style="margin: 10px;">
                <button class="eshop-button"><nobr><img width="auto" height="28" alt="eshop_logo" style="outline: 0; transform: translateY(17%);" src="/stores/eshop.png"/>&nbsp Nintendo eShop</nobr></button>
            </a>
        </div>
        
    </main>
</Modal>