---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="hitchhiker">
    <main slot="main">
        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/hitchhiker/videos/hitchhiker_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <h1>The Vanishing Hitchhiker</h1>

        <div style="margin: 10px 0 20px 0; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel </small>
            <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch </small>
            <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>
        </div>

        <p>
            The Vanishing Hitchhiker is a small visual novel for the Nintendo Switch.
        </p>
        <p>
            The game features multiple choices during the story. These different paths are interconected, and they affect the ending. There are a total of 5 possible endings to the game. 
        </p>
        <p>
            I developed my own markup language to handle the game's events and branching paths. Similar to XML but more minimalist; I implemented a large number of tags that allowed easily managing elements such as font size, text speed, music and sounds, particle effects...
        </p>
        <p>
            I also implemented the Nintendo SDKs needed for the game to work properly on the Nintendo Switch.
        </p>

    </main>
</Modal>