---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="hitchhiker">
    <main slot="main">
        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/hitchhiker/videos/hitchhiker_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <h1>Crabmelo's Smoothie Stand</h1>

        <div style="margin: 10px 0 20px 0; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel </small>
            <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch </small>
            <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>
        </div>

        <p>

        </p>

        <h2 class="cool-things-h2">Cool things I did</h2>
    </main>
</Modal>