---
import {init, send, sendForm} from "@emailjs/browser";
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import Modal from '../components/Modal.astro';
const pageTitle = "Ismael Moyano";

---
<script>
    const video = document.querySelector("video");
    let playState = null;

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {
                video.pause();
                playState = false;
            } else {
                video.play();
                playState = true;
            }
        });
    }, {});

    observer.observe(video);

    const onVisibilityChange = () => {
        if (document.hidden || !playState) {
            video.pause();
        } else {
            video.play();
        }
    };

    document.addEventListener("visibilitychange", onVisibilityChange);
</script>


<Layout pageTitle={pageTitle}>
    
    <div id="aboutme">
        <div class="topimg">
            <h1>Ismael Moyano</h1>
            <br/>
            <small class="subtitle">Programmer etc.</small>
            <br/>
            <br/>
            <br/>
            <img width="250" height="auto" alt="Ismael" class="round-borders" src="/ismael2.png"/>
        </div>

        <h2>About me</h2>
        <p>
            Hey! I'm Ismael and I like to create cool games.
        </p>
        <p>
            My strength is programming, but I like to think of myself more like a swiss army knife. I like to polish cool things to perfection, be it code logic, touch particles or screen transitions.
        </p>
        <p>
            I studied Software Engineering with a Gamedev Master's; and have a strong knowledge of Unity and C#.
        </p>
        <p>
            Audio is a personal passion of mine: I have multiple games released using FMOD Studio, with most of the sound effects designed by me. I am also into Music Composition, but mostly as a <nobr>hobby :).</nobr>
        </p>

        <p class="social">
            <a href="https://twitter.com/leamsy_azurae" target="_blank" rel="noopener noreferrer">
                <img width="auto" height="30" alt="Twitter" style="outline: 0;" src="/twitter_logo.png"/>
            </a>
            <a href="https://www.linkedin.com/in/leamsy/" target="_blank" rel="noopener noreferrer">
                <img width="auto" height="30" alt="LinkedIn" style="outline: 0;" src="/linkedin_logo.png"/>
            </a>
            <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer">
                <img width="auto" height="30" alt="itch.io" style="outline: 0;" src="/itchio_logo.png"/>
            </a>
            <a href="mailto:leamsy.azurae@gmail.com" target="_blank" rel="noopener noreferrer">
                <img width="auto" height="30" alt="Mail" style="outline: 0;" src="/mail_logo.png"/>
            </a>
        </p>

        <div class="button">
            <a href="/works/">
                <button>My resume</button>
            </a>
        </div>
    </div>
        
    <div id="projects">
        <h2>Projects</h2>

        <ul role="list" class="link-card-grid">
            <Card
                    card_id="danievan"
                    image="/danievan/danievan.png"
                    title="Dani & Evan: Dinosaur Books"
                    body="Explore the hidden dinosaur world alongside Dani and Evan in this visual novel for kids, with exploration segments, minigames and collectables."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">Mobile</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch</small>
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released</small>
            
            </Card>
            <Card
                    card_id="brokenechoes"
                    image="/brokenechoes/brokenechoes.png"
                    title="Broken Echoes"
                    body="After awaking in an oddly familiar island, Lea must face forces that threaten space and time in this action-adventure game with cinematic cutscenes."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Action-adventure</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC</small>
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">FinalProject</small>
                
            </Card>
            <Card
                    card_id="hitchhiker"
                    image="/hitchhiker/hitchhiker.png"
                    title="The Vanishing Hitchhiker"
                    body="Make choices and expect the unexpected in this spooky visual novel for Nintendo Switch."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch</small>
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released</small>
                
            </Card>
            <Card
                    card_id="crabmelo"
                    image="/crabmelo/crabmelo.png"
                    title="Crabmelo's Smoothie Stand"
                    body="Get fruits to your stand to make delicious smoothies and help cheer up your customers in this narrative puzzle game."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Puzzle</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC</small>
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">InDevelopment</small>
                
            </Card>
        </ul>
        
        <p style="margin-top: 60px; text-align: center">
            This list is just comprised of highlights. If you want to see smaller, more experimental projects, feel free to check out my itch.io!
            <br><br>
            <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer" style="">
                <img width="auto" height="60px" alt="itch.io" src="/itchio_logo.png"/>
            </a>
        </p>
    </div>
    
    <div id="skills">
        <h2>Skills</h2>
        <div class="link-images">
            <img width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-plain.svg"/>
            <img width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
            <img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"/>
            <img width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"/>
            <img width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"/>
            <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>
            <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>
            <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
            <img width="46" height="46" alt="PostGres" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"/>
        </div>
    </div>

    <div id="interests">
        <h2>Interests</h2>
        <p>
            These are 10 facts about me!
        </p>
        <ol>
            <li>
                I can't stand wedge cheese.
            </li>
            <li>
                Someone threw a duck over our fence once, so we adopted it for a couple of months. Its name was "Colorines".
            </li>
            <li>
                I'm always in some sort of idle dance, Cuphead-style.
            </li>
            <li>
                I use bananas way too much as an ingredient when cooking.
            </li>
            <li>
                Two of my favorite game franchises are Dark Souls and Kirby. Opposites touch.
            </li>
            <li>
                People say I have the softest cheeks they have ever seen. I agree.
            </li>
            <li>
                My first game development engine was GameMaker. My second was <nobr>Wario Ware: DIY</nobr>.
            </li>
        </ol>
    </div>

    
    <div id="contact">
        <h2>Contact</h2>
        <p>
            Hit me up!
        </p>

        <form id="contact-form">
            <label>
                Email:
                <input type="email" name="from_name" required />
            </label>
            <br/>
            <label>
                Subject:
                <input type="text" name="subject" />
            </label>
            <br/>
            <label>
                Message:
                <input type="text" name="message" required minlength="10" />
            </label>
            <br/>
            <button>Send</button>
        </form>
    </div>
    
    

    <Modal modal_id="danievan">
        <main slot="main">
            <div class="bannerimg">
                <img alt="danievan" src="/danievan/danievan.png"/>
            </div>
            <br>
            <h1>Dani & Evan: Dinosaur Books</h1>

            <div style="margin: 10px 0 20px 0; line-height: 175%; max-width: 300px">
                <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">Mobile</small>
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch</small>
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released</small>
            </div>
            
            <p>
                <b>Dani & Evan: Dinosaur Books</b> is a visual novel based on the book series "The Adventures of Dani and Evan", more specifically on book number 1.
                <br>&emsp;The game aims to encourage young kids to read by including exploration segments, minigames and collectables in the form of the "Adventurer's Journal".
            </p>
            <p>
                I worked as the <b>programmer</b> and <b>designer</b> of the game, but I was also in charge of a lot of other things such as <b>animations</b>, <b>sound effects</b>, and <b>texts</b>.
            </p>

            <div class="bannervideo">
                <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                    <source src="/danievan/test.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            
            <h2>Cool things I did</h2>
            
            <div>
                <h3>Leaf touch particles</h3>
                
                <div class="cool-things">
                    <div class="column">
                        <p>
                            These are particles that show up when touching the screen.
                        </p>
                        <p>
                            They leave a trail of leaves and tracks up to 10 fingers at the same time.
                        </p>
                    </div>
                    <div class="column">
                        <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                            <source src="/danievan/test.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            <div>
                <h3>Japanese translation</h3>

                <div class="cool-things">
                    <div class="column">
                        <p>
                            These are particles that show up when touching the screen.
                        </p>
                        <p>
                            They leave a trail of leaves and tracks up to 10 fingers at the same time.
                        </p>
                    </div>
                    <div class="column">
                        <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                            <source src="/danievan/test.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            
            
            
            <p>
                <!--<audio controls>
                    <source src="/danievan/Remix8Ringtone.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>-->
            </p>
        </main>
    </Modal>

    <Modal modal_id="brokenechoes">
        <main slot="main">
            <div class="bannerimg">
                <img alt="brokenechoes" src="/brokenechoes/brokenechoes.png"/>
            </div>
            <h1>Broken Echoes</h1>
            <p>
                Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
                Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
                facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
                Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
                <br/>
            </p>
        </main>
    </Modal>

    <Modal modal_id="hitchhiker">
        <main slot="main">
            <div class="bannerimg">
                <img alt="hitchhiker" src="/hitchhiker/hitchhiker.png"/>
            </div>
            <h1>The Vanishing Hitchhiker</h1>
            
            <p>
                Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
                Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
                facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
                Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
                <br/>
            </p>
        </main>
    </Modal>

    <Modal modal_id="crabmelo">
        <main slot="main">
            <div class="bannerimg">
                <img alt="crabmelo" src="/crabmelo/crabmelo.png"/>
            </div>
            <h1>Crabmelo's Smoothie Stand</h1>
            <p>
                Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
                Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
                facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
                Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
                <br/>
            </p>
        </main>
    </Modal>
    
    
</Layout>
<style>

    .social {
        text-align: center; 
        margin: 20px;
        padding-right: 20px;
    }
    
    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #78c2ad;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    /* Social images */
    .social img {
        margin: 6px 6px;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
    
    .round-borders
    {
        border-radius: 50%;
    }
    
</style>

