---
import {init, send, sendForm} from "@emailjs/browser";
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import Modal from '../components/Modal.astro';

import Bodycombat from './Bodycombat.astro';
import DaniEvan from './DaniEvan.astro';
import BrokenEchoes from "./BrokenEchoes.astro";
import Hitchhiker from "./Hitchhiker.astro";
import Pinzo from "./Pinzo.astro";

import Minicard from "../components/Minicard.astro";
import RandomFact from '../components/RandomFact';

const pageTitle = "Ismael Moyano";

---
<script>
    const video = document.querySelector("video");
    let playState = null;

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {
                video.pause();
                playState = false;
            } else {
                video.play();
                playState = true;
            }
        });
    }, {});

    observer.observe(video);

    const onVisibilityChange = () => {
        if (document.hidden || !playState) {
            video.pause();
        } else {
            video.play();
        }
    };

    document.addEventListener("visibilitychange", onVisibilityChange);
</script>

<style>
    @import "../styles/global.css";
</style>

<Layout pageTitle={pageTitle}>
    
    <div id="intro" class="intro">
        <div class="topimg">
            <h1 style="font-size: 3em; margin: 10px 0 10px 0;">Ismael Moyano</h1>

            <small class="subtitle" style="background-color: #4d8878">Game Developer</small>
            
            <br/><br/><br/>
            
            <img width="250" height="auto" alt="Ismael" class="round-borders" src="/ismael.png"/>

            <center>
                <div class="bio">
                    <p>
                        ✨ <b>Hi! I'm Ismael and I like to create <nobr>cool games.</nobr></b>
                    </p>
                    <p>
                        📚 These are my past projects, click on them for more details.
                    </p>
                    <p>
                        ✉️ Feel free to get in touch about anything!
                    </p>
                    <!--<ul>
                        <li class="bio-list" style="list-style-type: '✨ ';">
                            <b>Hi! I'm Ismael and I like to create <nobr>cool games.</nobr></b>
                        </li>
                        <li class="bio-list" style="list-style-type: '✨ ';">
                            These are my past projects.
                        </li>
                        <li class="bio-list" style="list-style-type: '✨ ';">
                            Feel free to get in touch!
                        </li>
                        
                    </ul>-->
                </div>
            </center>
            
            <!--<div style="font-size: 0.6rem; text-align: center; margin-bottom: 10px; margin-top: 30px"><h1>Find me in: </h1></div>-->

            <p class="social">
                <a href="https://www.linkedin.com/in/leamsy/" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="40" alt="LinkedIn" style="outline: 0;" src="/linkedin_logo.png"/>
                </a>
                <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="40" alt="itch.io" style="outline: 0;" src="/itchio_logo.png"/>
                </a>
                <a href="mailto:leamsy.azurae@gmail.com" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="40" alt="Mail" style="outline: 0;" src="/mail_logo.png"/>
                </a>
            </p>
            <br>
            <div class="button">
                <a href="https://drive.google.com/file/d/1fT4m9mLv16WVnJKB7qK_pUZvZ9bsdHKG/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                    <button class="resume-button">My resume</button>
                </a>
            </div>
            <br>
        </div>


        <!--<div class="bio">
            <p style="text-align: center">
                ✨ <b>Hi! I'm Ismael and I like to create <nobr>cool games.</nobr></b>
            </p>
            <p style="font-size: 25px">
                🖥️ <b>I'm a programmer, but first of all, I'm a developer.</b>
            </p>
            <p style="margin-left: 6.4%">
                I don't shy away from multiclassing, and love contributing to other parts of the development process.
            </p>
            <p style="font-size: 25px">
                <b>📚 I'm well versed in Unity, C# and more!</b>
            </p>
            <p style="margin-left: 6.4%">
                I studied Software Engineering with a Master's in Game Development, and have gathered experience with multiple programming languages such as C++ or Javascript. I'm in the process of learning Unreal too!
            </p>
            <p style="font-size: 25px">
                <b>🎧 Audio is a personal passion of mine.</b>
            </p>
            <p style="margin-left: 6.4%">
                I have professional experience in sound design and programming with FMOD Studio. I'm also an amateur composer, but that is mostly a game jam <nobr>skill :).</nobr>
            </p>
        </div>-->

        
    </div>

    <div id="projects" class="projects">

        <div class="link-card-grid">
            <Card
                    card_id="bodycombat"
                    image="/bodycombat/bodycombat.png"
                    title="Les Mills Bodycombat"
                    body="An intense VR fitness game with challenging stages. The coaches will make you sweat!"
            >
                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Fitness </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">VR </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Live Service </small>

            </Card>
            <Card
                    card_id="danievan"
                    image="/danievan/danievan.png"
                    title="Dani & Evan: Dinosaur Books"
                    body="A dinotastic interactive book, with exploration, minigames and collectables."
            >
                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Visual Novel </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">Mobile </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">Nintendo Switch </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>

            </Card>
            <Card
                    card_id="brokenechoes"
                    image="/brokenechoes/brokenechoes.png"
                    title="Broken Echoes"
                    body="An action/adventure game with thrilling combat, cinematic cutscenes and cool music."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Action/Adventure </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Master's </small>

            </Card>
            <Card
                    card_id="hitchhiker"
                    image="/hitchhiker/hitchhiker.png"
                    title="The Vanishing Hitchhiker"
                    body="A spooky visual novel with choices and multiple endings, for the Nintendo Switch."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Visual Novel </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">Nintendo Switch </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>

            </Card>
            <Card
                    card_id="pinzo"
                    image="/pinzo/pinzo.png"
                    title="Pinzo's Smoothie Stand"
                    body="A narrative puzzle game with 2.5D graphics, smoothies and talking sea creatures."
            >

                <small class="tag" style="background-color: rgba(255,96,66,0.57)">Puzzle </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
                &nbsp;
                <small class="tag" style="background-color: rgba(111,239,88,0.57)">In Development </small>

            </Card>
        </div>

        <div style="margin-top: 100px; text-align: center;">
            <!--<p class="check-itchio">
                Feel free to check out <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer" style="color: #fdebf3">my itch.io</a> games too!
            </p>
            <br>-->
            <ul role="list" class="link-minicard-grid">

                <Minicard
                        card_id="remember"
                        image="/itchio/remember.png"
                        title="Remember"
                        href="https://leamsy.itch.io/remember"
                >
                </Minicard>
                <Minicard
                        card_id="tower_sins"
                        image="/itchio/tower_sins.png"
                        title="Tower of Sins"
                        href="https://leamsy.itch.io/tower-of-sins"
                >
                </Minicard>
                <Minicard
                        card_id="ratita"
                        image="/itchio/ratita.png"
                        title="ratitajumper_final_final"
                        href="https://leamsy.itch.io/ratitajumper-final-final-ahorasiquesi"
                >
                </Minicard>
                <Minicard
                        card_id="innerself"
                        image="/itchio/innerself.png"
                        title="Innerself"
                        href="https://leamsy.itch.io/innerselves"
                >
                </Minicard>
                <Minicard
                        card_id="mecabeat"
                        image="/itchio/mecabeat.png"
                        title="Mecabeat"
                        href="https://leamsy.itch.io/mecabeat"
                >
                </Minicard>
            </ul>
        </div>
    </div>
    
    <!--<div id="skills">
        <h2>Skills</h2>
        <div style="line-height: 400%;">
            <small class="big-tag" style="background-color: rgba(236,236,236,0.57);">
                <nobr> <img width="auto" height="28" alt="unity_logo" style="outline: 0; transform: translateY(15%);" src="/skills/unity_logo.png"/> Unity</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(143,82,141,0.57)">
                <nobr><img width="auto" height="28" alt="csharp_logo" style="outline: 0; transform: translateY(15%);" src="/skills/csharp_logo.png"/> C#</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(255,96,66,0.57); line-break: loose">
                <nobr><img width="auto" height="28" alt="nsw_logo" style="outline: 0; transform: translateY(15%);" src="/skills/nsw_logo.png"/> Nintendo Switch</nobr>
            </small>
            <small class="big-tag" style="background-color: rgb(77,114,106)">
                <nobr><img width="auto" height="28" alt="fmod_logo" style="outline: 0; transform: translateY(15%);" src="/skills/fmod_logo.png"/> FMOD</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(24,70,154,0.57)">
                <nobr><img width="auto" height="28" alt="unreal_logo" style="outline: 0; transform: translateY(15%);" src="/skills/godot_logo.png"/> Godot</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(50,112,136,0.57)">
                <nobr><img width="auto" height="28" alt="cpp_logo" style="outline: 0; transform: translateY(15%);" src="/skills/cpp_logo.png"/> C++</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(106,176,80,0.57)">
                <nobr><img width="auto" height="28" alt="android_logo" style="outline: 0; transform: translateY(15%);" src="/skills/android_logo.png"/> Android</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(183,166,57,0.57)">
                <nobr><img width="auto" height="28" alt="js_logo" style="outline: 0; transform: translateY(15%);" src="/skills/js_logo.png"/> JavaScript</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(155,116,73,0.57)">
                <nobr><img width="auto" height="28" alt="scrum_logo" style="outline: 0; transform: translateY(15%);" src="/skills/scrum_logo.png"/> Scrum</nobr>
            </small>
        </div>
    </div>-->

    <div class="about">
        <h3 style="margin-bottom: -10px">But just who is this Ismael fellow?</h3>
        <h2>✨ Here's a random fact about me! ✨</h2>

        <RandomFact client:load messages={[
            "My first game development engine was GameMaker. My second was Wario Ware: DIY.",
            "I'm always in some sort of idle dance, Cuphead-style.",
            "Someone threw a duck over our fence once, so we adopted it for a couple of months. Its name was Colorines.",
            "I can't stand wedge cheese.",
            "Two of my favorite game franchises are Dark Souls and Kirby. Opposites touch.",
            "People say I have the softest cheeks they have ever seen. I agree.",
            "I use bananas way too much as an ingredient when cooking.",
            "Some of my favorite Pokémon are Porygon2, Rotom and Whimsicott.",
            "Approximately 90% of my daily music listening is comprised of game soundtracks.",
            "My nickname \"Leamsy\" comes from the greek word \"Leamsis\", meaning lighthouse.",
        ]} />
        
    </div>

    <Bodycombat/>
    
    <DaniEvan/>

    <BrokenEchoes/>

    <Hitchhiker/>
    
    <Pinzo/>
    
</Layout>
