---
import {init, send, sendForm} from "@emailjs/browser";
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import Modal from '../components/Modal.astro';

import DaniEvan from './DaniEvan.astro';
import BrokenEchoes from "./BrokenEchoes.astro";
import Hitchhiker from "./Hitchhiker.astro";
import Crabmelo from "./Crabmelo.astro";

import Minicard from "../components/Minicard.astro";

const pageTitle = "Ismael Moyano";

---
<script>
    const video = document.querySelector("video");
    let playState = null;

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {
                video.pause();
                playState = false;
            } else {
                video.play();
                playState = true;
            }
        });
    }, {});

    observer.observe(video);

    const onVisibilityChange = () => {
        if (document.hidden || !playState) {
            video.pause();
        } else {
            video.play();
        }
    };

    document.addEventListener("visibilitychange", onVisibilityChange);
</script>

<style>
    @import "../styles/global.css";
</style>

<Layout pageTitle={pageTitle}>
    
    <div id="intro" class="intro">
        <div class="topimg">
            <h1>Ismael Moyano</h1>
            <br/>
            
            <small class="subtitle">Game Programmer etc.</small>
            <br/>
            <br/>
            <br/>
            <img width="250" height="auto" alt="Ismael" class="round-borders" src="/ismael.png"/>
            <div style="font-family: 'Pacifico', cursive; font-size: 1.6rem; text-align: center; margin-bottom: 1%; margin-top: 1%">Find me in: </div>

            <p class="social">
                <!--<a href="https://twitter.com/leamsy_azurae" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="32" alt="Twitter" style="outline: 0;" src="/twitter_logo.png"/>
                </a>-->
                <a href="https://www.linkedin.com/in/leamsy/" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="35" alt="LinkedIn" style="outline: 0;" src="/linkedin_logo.png"/>
                </a>
                <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="35" alt="itch.io" style="outline: 0;" src="/itchio_logo.png"/>
                </a>
                <a href="mailto:leamsy.azurae@gmail.com" target="_blank" rel="noopener noreferrer">
                    <img width="auto" height="35" alt="Mail" style="outline: 0;" src="/mail_logo.png"/>
                </a>
            </p>
            <div class="button">
                <a href="https://drive.google.com/file/d/1CP0sZpFRWyfmAYmSGpIeM8UbY8i1p2Yh/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                    <button>My resume</button>
                </a>
            </div>
            <br>


            <div class="bio">
                <p style="text-align: center">
                    ✨ <b>Hey! I'm Ismael and I like to create <nobr>cool games.</nobr></b>
                </p>
                <p style="font-size: 25px">
                    🖥️ <b>I am a programmer, but first of all, I am a developer.</b>
                </p>
                <p style="margin-left: 6.4%">
                    I don't shy away from multiclassing, and love contributing to other parts of the development process.
                </p>
                <p style="font-size: 25px">
                    <b>📚 I am well versed in both Unity and C#, as well as other languages.</b>
                </p>
                <p style="margin-left: 6.4%">
                    I studied Software Engineering with a Master's in Game Development, and have gathered experienced with multiple programming languages such as C++ or Javascript, as well as engines such as Unreal or Godot.
                </p>
                <p style="font-size: 25px">
                    <b>🎧 Audio is a personal passion of mine.</b>
                </p>
                <p style="margin-left: 6.4%">
                    I have professional experience in sound design and programming with FMOD Studio. I am also an amateur composer, but that is mostly a game jam <nobr>skill :).</nobr>
                </p>
            </div>
        </div>

        <div id="projects" class="projects">
            <h2>Projects</h2>

            <ul class="link-card-grid">
                <Card
                        card_id="danievan"
                        image="/danievan/danievan.png"
                        title="Dani & Evan: Dinosaur Books"
                        body="A dinotastic interactive book, with exploration segments, minigames and collectables."
                >
                    <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel </small>
                    <small class="tag" style="background-color: rgba(255,79,247,0.57)">Mobile </small>
                    <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch </small>
                    <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>

                </Card>
                <Card
                        card_id="brokenechoes"
                        image="/brokenechoes/brokenechoes.png"
                        title="Broken Echoes"
                        body="An action-adventure game with thrilling combat, cinematic cutscenes and cool music."
                >

                    <small class="tag" style="background-color: rgba(255,96,66,0.57)">Action-adventure </small>
                    <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
                    <small class="tag" style="background-color: rgba(111,239,88,0.57)">FinalProject </small>

                </Card>
                <Card
                        card_id="hitchhiker"
                        image="/hitchhiker/hitchhiker.png"
                        title="The Vanishing Hitchhiker"
                        body="A spooky visual novel with choices and multiple endings, for the Nintendo Switch."
                >

                    <small class="tag" style="background-color: rgba(255,96,66,0.57)">VisualNovel </small>
                    <small class="tag" style="background-color: rgba(255,79,247,0.57)">NintendoSwitch </small>
                    <small class="tag" style="background-color: rgba(111,239,88,0.57)">Released </small>

                </Card>
                <Card
                        card_id="crabmelo"
                        image="/crabmelo/crabmelo.png"
                        title="Crabmelo's Smoothie Stand"
                        body="A narrative puzzle game with 2.5D graphics, smoothies and talking seafood."
                >

                    <small class="tag" style="background-color: rgba(255,96,66,0.57)">Puzzle </small>
                    <small class="tag" style="background-color: rgba(255,79,247,0.57)">PC </small>
                    <small class="tag" style="background-color: rgba(111,239,88,0.57)">InDevelopment </small>

                </Card>
            </ul>

            <div style="margin-top: 60px; text-align: center;">
                <p class="check-itchio">
                    Feel free to check out <a href="https://leamsy.itch.io/" target="_blank" rel="noopener noreferrer" style="color: #fdebf3">my itch.io</a> games too!
                </p>
                <br>
                <ul role="list" class="link-minicard-grid">

                    <Minicard
                            card_id="tower_sins"
                            image="/itchio/tower_sins.png"
                            title="Tower of Sins"
                            href="https://leamsy.itch.io/tower-of-sins"
                    >
                    </Minicard>
                    <Minicard
                            card_id="ratita"
                            image="/itchio/ratita.png"
                            title="ratitajumper_final_final"
                            href="https://leamsy.itch.io/ratitajumper-final-final-ahorasiquesi"
                    >
                    </Minicard>
                    <Minicard
                            card_id="innerself"
                            image="/itchio/innerself.png"
                            title="Innerself"
                            href="https://leamsy.itch.io/innerselves"
                    >
                    </Minicard>
                    <Minicard
                            card_id="mecabeat"
                            image="/itchio/mecabeat.png"
                            title="Mecabeat"
                            href="https://leamsy.itch.io/mecabeat"
                    >
                    </Minicard>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="skills">
        <h2>Skills</h2>
        <div style="line-height: 400%;">
            <small class="big-tag" style="background-color: rgba(236,236,236,0.57);">
                <nobr> <img width="auto" height="28" alt="unity_logo" style="outline: 0; transform: translateY(15%);" src="/skills/unity_logo.png"/> Unity</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(143,82,141,0.57)">
                <nobr><img width="auto" height="28" alt="csharp_logo" style="outline: 0; transform: translateY(15%);" src="/skills/csharp_logo.png"/> C#</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(255,96,66,0.57); line-break: loose">
                <nobr><img width="auto" height="28" alt="nsw_logo" style="outline: 0; transform: translateY(15%);" src="/skills/nsw_logo.png"/> Nintendo Switch</nobr>
            </small>
            <small class="big-tag" style="background-color: rgb(77,114,106)">
                <nobr><img width="auto" height="28" alt="fmod_logo" style="outline: 0; transform: translateY(15%);" src="/skills/fmod_logo.png"/> FMOD</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(66,66,66,0.57)">
                <nobr><img width="auto" height="28" alt="unreal_logo" style="outline: 0; transform: translateY(15%);" src="/skills/unreal_logo.png"/> Unreal</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(50,112,136,0.57)">
                <nobr><img width="auto" height="28" alt="cpp_logo" style="outline: 0; transform: translateY(15%);" src="/skills/cpp_logo.png"/> C++</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(106,176,80,0.57)">
                <nobr><img width="auto" height="28" alt="android_logo" style="outline: 0; transform: translateY(15%);" src="/skills/android_logo.png"/> Android</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(183,166,57,0.57)">
                <nobr><img width="auto" height="28" alt="js_logo" style="outline: 0; transform: translateY(15%);" src="/skills/js_logo.png"/> JavaScript</nobr>
            </small>
            <small class="big-tag" style="background-color: rgba(155,116,73,0.57)">
                <nobr><img width="auto" height="28" alt="scrum_logo" style="outline: 0; transform: translateY(15%);" src="/skills/scrum_logo.png"/> Scrum</nobr>
            </small>
        </div>
    </div>

    <div id="about">
        <h2>About me</h2>
        <p>
            To prove that I am a cool human, here are 10 facts about me!
        </p>
        <ol style="margin: 0 8% 0 8%">
            <li>
                My first game development engine was GameMaker. My second was <nobr>Wario Ware: DIY</nobr>.
            </li>
            <li>
                I'm always in some sort of idle dance, Cuphead-style.
            </li>
            <li>
                Someone threw a duck over our fence once, so we adopted it for a couple of months. Its name was "Colorines".
            </li>
            <li>
                I can't stand wedge cheese.
            </li>
            <li>
                Two of my favorite game franchises are Dark Souls and Kirby. Opposites touch.
            </li>
            <li>
                People say I have the softest cheeks they have ever seen. I agree.
            </li>
            <li>
                I use bananas way too much as an ingredient when cooking.
            </li>
            <li>
                Some of my favorite Pokémon are Porygon2, Rotom and Whimsicott.
            </li>
            <li>
                Approximately 90% of my daily music listening is comprised of game soundtracks.
            </li>
            <li>
                My pen name "Leamsy" comes from the greek word "Leamsis", meaning lighthouse.
            </li>
        </ol>
    </div>
    
    <DaniEvan/>

    <BrokenEchoes/>

    <Hitchhiker/>
    
    <Crabmelo/>
    
</Layout>
