---
import Modal from "../components/Modal.astro";
---
<Modal modal_id="pinzo">
    <main slot="main">

        <h1>Pinzo's Smoothie Stand</h1>

        <div style="margin: -40px 0 30px 5px; line-height: 175%;">
            <small class="tag" style="background-color: rgba(255,96,66,0.57); white-space: nowrap; margin: 0">Puzzle </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(255,79,247,0.57); white-space: nowrap; margin: 0">PC </small>
            &nbsp;
            <small class="tag" style="background-color: rgba(111,239,88,0.57); white-space: nowrap; margin: 0">In Development </small>
            &nbsp;
        </div>

        <div class="bannervideo">
            <video style="border-radius: 12px" width="100%" height="auto" controls autoplay muted loop preload="none">
                <source src="/pinzo/videos/pinzo_banner.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <ol style="margin: 30px 2% 30px 2%; padding-right: 10px; font-size: 1em">
            <p>
                Pinzo's Smoothie Stand is my own personal project, currently in development. It's a narrative puzzle game with a chill story and fruit-rolling mechanics.
            </p>
        </ol>
        <ul>
            <li class="game-feature-list" style="list-style-type: '🦀 ';">
                Pinzo the crab makes smoothies for his clients, but also helps them with their problems along the way!
            </li>
            <li class="game-feature-list" style="list-style-type: '🧩 ';">
                In the game's puzzles, Pinzo has to roll fruits from the beach to his stand under a number of turns, avoiding obstacles and the ever threatening tide.
            </li>
            <li class="game-feature-list" style="list-style-type: '🎨 ';">
                The game features a cool 2.5D artstyle, with cut-out characters on a 3D world.
            </li>
            <li class="game-feature-list" style="list-style-type: '🖥️ ';">
                I'm working as a solo developer, with some help for character sprites and models.
            </li>

        </ul>

        <hr style="border: 1.5px solid #78c2ad; margin-top: 30px">

        <h2>Coming soon...</h2>
        
    </main>
</Modal>