---
interface Props {
	card_id: string;
	title: string;
	body: string;
	href: string;
}

const { card_id, image, title, body } = Astro.props;
---

<script>

	class Card extends HTMLElement {
		
		constructor() {
			super();

			const clickable = document.getElementById("clickable" + this.dataset.card_id);

			clickable.addEventListener("click", () => {

				const modal = document.getElementById(this.dataset.card_id) as HTMLDialogElement;

				modal.showModal();

				const body = document.querySelector('body');
				body.style.overflowY = 'hidden';
				body.style.paddingRight = '16px';

				window.onclick = function(event)
				{
					if (event.target == modal) {
						modal.close();
						body.style.overflowY = 'scroll';
						body.style.paddingRight = '0px';
					}
				}
			});
		}
	}
	
	customElements.define('card-element', Card);
	
	
</script>

<card-element data-card_id={card_id}>
	<li class="link-card">
		<a id={"clickable" + card_id}>
			<div class="img">
				<img width="350" height="auto" src={image} class="card-img" alt="Project">
			</div>
			<h3>
				{title}
			</h3>
			<div class="tag-list">
				<slot />
			</div>
			<p>
				{body}
			</p>
		</a>
	</li>
</card-element>

<style>
    .link-card {
        list-style: none;
        display: flex;
        background-size: 400%;
    }

    .link-card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 8px;
        color: #fdebf3;
		cursor: pointer;
    }

    .img {
		display: flex;
		align-items: center;
		justify-content: center;
    }

    img {
        border-radius: 16px;
    }

    h3 {
        margin: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        text-align: center;
    }

    p {
        font-size: 1em;
        line-height: 1.5;
        text-indent: 0;
        text-align: center;
        margin: 0.5rem 0 0;
		line-break: auto;
    }
	
	.tag-list
	{
		text-align: center;
		padding-bottom: 5px;
	}

    .link-card:hover {
        transform: scale(1.05);
    }
</style>

