---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <small>&copy; {year} by Ismael Moyano. All Rights Reserved.</small>
    </div>
</footer>
<style>
    div {
        margin: 4rem 0;
        text-align: center;
    }

    small {
        font-family: 'Josefin Sans', sans-serif; 
    }

    small a {
        color: #375a7f;
        text-decoration: none;
    }
</style>
