---
interface Props {
    modal_id: string;
}

const {modal_id} = Astro.props;
---

<script>

    class Modal extends HTMLElement {

        constructor() {
            super();

            const close = document.getElementById("close" + this.dataset.modal_id);

            close.addEventListener("click", () => {

                const modal = document.getElementById(this.dataset.modal_id) as HTMLDialogElement;
                const body = document.querySelector('body');

                modal.close();
                body.style.overflowY = 'scroll';
                //body.style.paddingRight = '0px';
            });
        }
    }

    customElements.define('modal-element', Modal);
    
</script>

<modal-element data-modal_id={modal_id}>
    <dialog id={modal_id}>
        <button id={"close" + modal_id} class="close">
            X
        </button>
        <div class="body">
            <slot name="main" />
        </div>
    </dialog>
</modal-element>


<style lang="scss">
  dialog {
    max-width: 1000px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.25s;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e2e;
    border-radius: 16px;
    color: #fdebf3;
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(255, 0, 0, 0.1);
    }
  }
  dialog[open] {
    opacity: 1;
  }

  dialog::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  dialog::-webkit-scrollbar-thumb {
    background: #433f4f;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
  }

  dialog::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,rgba(1, 1, 1, 0.1) 0,rgba(1, 1, 1, 0.1));
    border-radius: 16px;
  }
  
</style>

<style>
    
    .body
    {
        height: 90vh;
        padding: 0 8px 0 8px;
        overflow-y: auto;
    }
    
    .close
    {
        color: inherit;
        background-color: #609188;
        border: 2px solid rgba(253, 235, 243, 0.9);
        text-align: center;
        position: absolute;
        right: 1%;
        top: 1%;
        padding: 4px 6px 1px 6px;
        border-radius: 50%;
        font: 600 20px 'Josefin Sans', sans-serif;
        outline: 0;
    }
    .close:hover {
        transform: scale(1.05);
    }
    
    .body::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    .body::-webkit-scrollbar-thumb {
        background: rgba(67, 63, 79, 0.5);
        border-radius: 16px;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
    }

    .body::-webkit-scrollbar-track {
        background: linear-gradient(90deg,#434343,#434343 1px,rgba(1, 1, 1, 0.1) 0,rgba(1, 1, 1, 0.1));
        border-radius: 16px;
    }

    /* Media Query */
    @media only screen and (max-width: 800px) {
        .body::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .body::-webkit-scrollbar-thumb {
            background: rgba(67, 63, 79, 0.5);
            border-radius: 16px;
            box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
        }

        .body::-webkit-scrollbar-track {
            background: linear-gradient(90deg,#434343,#434343 1px,rgba(1, 1, 1, 0.1) 0,rgba(1, 1, 1, 0.1));
            border-radius: 16px;
        }
    }


</style>