---
const {id, open} = Astro.props;
---
<style lang="scss">
  dialog {
    max-width: 800px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e2e;
    border-radius: 16px;
    color: #fdebf3;
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(255, 0, 0, 0.1);
    }
  }
  dialog[open] {
    opacity: 1;
  }
  
</style>

<dialog id={id}>
    <slot name="main" />
    <form method="dialog">
        <slot name="close" />
    </form>
</dialog>