---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <!--<div class="title-link">
        &lt;!&ndash;<a href="/">Ismael Moyano</a>&ndash;&gt;
    </div>-->
    <div class="nav-links">
        <a href="#aboutme">About</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#interests">Interests</a>
        <a href="#contact">Contact</a>
        <!--<ThemeIcon />-->
    </div>
</div>
